extends layout

block content
  if isFull
    div.row
      div.col-sm-6
        h3 Contest submission is now over! Please view and vote on submissions!
  else
    div.row(id="submitalContainer")
      div.col-sm-12
        div.row
          div.col-sm-6
            h3 Please submit your video
        div.row
          div.col-sm-6
            form(action="" method="" role="form" id="goatForm")
              legend YouTube submital form
              div.form-group
                label(for="userName") Name
                input(type="text" name="userName" class="form-control" placeholder="Name")
                label(for="userName") Title
                input(type="text" name="title" class="form-control" placeholder="Title")
                label(for="userName") YouTube URL
                input(type="text" name="youtubeUrl" class="form-control" placeholder="URL")
                label(for="userName") Description
                input(type="text" name="description" class="form-control" placeholder="Description")
                     
              input(type="submit" id="submitGoat" class="btn btn-primary")

block scripts
  script(src="/main.js")                
