doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" type="text/css")
    title Best goat videos

  body
    h1 Welcome to best goat videos!
    block content


    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")